/*  VARIABLES */
:root {
    /* colors */
    --dark : #2C3531;
    --blue : #116466;
    --tanD : #D9B08C;
    --tanL : #FFCB9A;
    --lite : #D1E8E2;

    --text-light : var(--lite);
    --text-dark : var(--base);

    --base : var(--dark);
    --card-base : var(--lite);
    --border : var(--tanD);
    --nav-base : var(--blue);
    --nav-active : var(--lite);
    --nav-hover : var(--tanD);

    --grad : linear-gradient(var(--lite), var(--tanL));
    
    /* sizes */
    --img-size : 170px;
    --card-min-size : 100px;
    --std-section-max-width : 30vw;
    --std-section-min-width : 400px;
    --std-body-text-max-width : 250px;

    --border-radius : 10px;
    --std-padding : 5px;
    --std-margin : 5px;

    --nav-height : 40px;
    --nav-padding : 12px;

    --nav-font-size : 1em;
    --title-font-size : 2em;
    --section-header-font-size : 1.15em;
    --line-height : 1.4em;

    /* fonts */
    --audrey : 'audreybold', serif;
    --titillium : 'titillium', sans-serif;
}
/*Work*/
.project-img{
    border-radius: var(--border-radius);
    max-width:112px;
}

/*Contact*/
.contact-link, .about-links{
    text-decoration: none;
    color: var(--base);
    text-align: center;
    line-height:20px;
}
.card.section-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    animation-name: cardAnimation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes cardAnimation {
    0% {
        background-color:var(--lite);
    }
    33.5%{
        background-color:var(--tanD)
    }
    67%{
        background-color:var(--tanL);
    }
    100% {
        background-color:var(--lite);
    }
}

