body {
    background-color: black;
}

/** NAV BAR **/

.nav-container {
    position:fixed;
    z-index:10;
    width:100%;
    top:0px;
    margin:auto;

    background-color: black;
    overflow: hidden;
    margin: 0px;
    display:flex;
    justify-content: center;
}

.nav-container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-container a:hover {
    background-color: #ddd;
    color: black;
}

.nav-container a.active {
    background-color: white;
    color: black;
}


