#welcome-img {
    border-radius: 10px;
    display: block;
	margin-left: auto;
	margin-right: auto;
    /** This was displaying an error so I added 10px, but not sure what number it should be. Also added the display and margins since they were missing.**/
}

#form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

#akiah_section {
    padding:20px;
    margin:auto;
    border:2px solid white;
    border-radius:10px;
}

#aria_section {
    padding:20px;
    margin:auto;
    border:2px solid white;
    border-radius:10px;
}

#nick_section {
    padding:20px;
    margin:auto;
    border:2px solid white;
    border-radius:10px;
    color: white; 
}

p, li {
    color:white;
    padding:5px;
}

li {
    padding-left:30px;
}

strong {
    font-weight:bold;
}

sup {
    vertical-align:super;
}

code {
    font-family: monospace;
    background-color:white;
}

form label {
    display: block;
    text-align: center;
    padding: 4px;
}

form input {
    display: inline;
}

#form-description {
    margin: 0 2em 0 2em;
    padding-bottom: 15px;
}

form textarea {
    display: inline;
}

mark { 
  background-color: DarkCyan;
  color: white;
}